.hide {
  display:none;
}

.show {
  display: block;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

.inset {
  border-left: 15px solid #B2C2AC;
  background: #FBFAF6;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  /* box-shadow: 7px 7px 3px 0px #dfdfdf; */
  font-size: 14px;
}

.inset2 {
  border-left: 15px solid #B2C2AC;
  background: #FBFAF6;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  font-size: 14px;
}

.border {
  border: 1px solid red;
}

.attr {
  float:right;
  font-weight: bold;
  font-style: italic;
  color: #273469;
}

.tracktitle {
  background-color: #273469;
  color: #FBFAF6;
  padding: 25px;
  font-weight: 900;
  margin-bottom: 0px;
  padding-left: 25x;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardcarrier {
  margin-left: 20px;
  /* max-width: 75%; */
}

.fb {
  float: bottom;
}

.highlighter {
  background-color: #faa916!important; 
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 600;
  color: #273469;
  padding-top: 3px;
  padding-bottom: 3px;
}

.titleheader {
  padding-top: 15px;
  padding-bottom: 25px;
  max-width: 85%;
  margin: 0 auto;
  color: #FBFAF6;
  font-weight: 800;
  border-top: 15px solid #273469;
}

.narrow {
  max-width: 45rem;
}
.card,
.card-img {
  border-radius: 0px!important;
  border: none!important;
  margin-right: 25px!important;
}


h1,h2,h3,h4,h5 {
  color: #517365;
  font-weight: 700;
}

.btn-primary {
  background-color: #273469;
  border-color: #273469;
}

.btn-primary:hover {
    background-color: #324286;
}

.btn-light {
  background-color: #FBFAF6;
  border-color: #517365;
}

.btn-light:hover {
  background-color: #faa916;
}

                  .outset {
                    border-top: 10px solid #faa916;
                    padding-top: 10px;
                    margin-bottom: 50px;
                  }